<%
            
  let year = 2022, month = 1, today = '10 Feb 2022'
            
%>

<div class="content">

  <div class="content__navigation-container">
      
    <%- include ../components/organizer/_bottom-navigation.ejs %>

  </div>

  <div class="content__left-col content__left-col--hidden" data-index="1">

    <div class="content__viewer content__viewer--organizer">

      <div class="content__index-container content__index-container--1">
        
        <div class="calendar">

          <div class="calendar__calendar-card-container">

            <%- include ../components/organizer/_calendar-card.ejs %>

          </div>

          <div class="calendar__calendar-display-container">

            <% let target = 'left' %>

            <%- include ../components/organizer/_calendar-display.ejs %>

          </div>

        </div>

      </div>

      <div class="content__index-container content__index-container--2">
        
        <%- include ../components/organizer/_schedule.ejs %>

      </div>

      <div class="content__index-container content__index-container--3">
        
        <%- include ../components/organizer/_items.ejs %>

      </div>

      <div class="content__index-container content__index-container--4">
        
        <%- include ../components/organizer/_notification-display.ejs %>

      </div>

    </div>

  </div>

  <div class="content__right-col content__right-col--organizer content__right-col--visible">
    <div class="content__viewer content__viewer--organizer">

      
      <% target = 'right' %>

      <!--  include ../components/organizer/_calendar-display.ejs -->

      <%- include ../../../assets/templates/organizer/_item-search.ejs %>

    </div>
  </div>

  <div class="content__central-col">
    <div class="content__viewer content__viewer--organizer"></div>
  </div>

</div>