<div class="user-card" data-user-name="<%= user.name %>" data-user-title="<%= user.title %>">
  <div class="user-card__wrapper">

    <div class="user-card__avatar-container">

      <span class="user-card__availability-dot <%= user.available ? '' : 'user-card__availability-dot--offline' %>"></span>

      <% if(user.avatar) { %>

        <img src="<%= user.avatar %>" alt="A photo of <%= user.name %>" class="user-card__avatar">

      <% } else { %>

        <h4 class="user-card__initials"><%= user.initials %></h4>

      <% } %>

    </div>

    <div class="user-card__info">

      <h3 class="user-card__name"><%= user.name %></h3>

      <h4 class="user-card__title"><%= user.title %></h4>

      <h5 class="user-card__phone"><%= user.phone %></h5>

    </div>

    <div class="user-card__links">

      <div class="user-card__links__mail">

        <a href="mail.html" class="user-card__links__tap-area"></a>

        <svg class="user-card__links__mail-icon">
          <use href="#envelope-regular"></use>
        </svg>

      </div>

      <div class="user-card__links__meeting">

        <a href="/" class="user-card__links__tap-area"></a>

        <svg class="user-card__links__meeting-icon">
          <use href="#user-group-solid"></use>
        </svg>

      </div>

      <div class="user-card__links__chat">

        <a href="chat.html" class="user-card__links__tap-area"></a>

        <svg class="user-card__links__chat-icon">
          <use href="#comment-regular"></use>
        </svg>

      </div>

    </div>

    <p class="user-card__bio"><%= user.bio %></p>

  </div>
</div>