<%- include partials/head %>

<body class="layout layout--<%= route %>">
  <div class="layout__inner">

    <main class="layout__wrapper">

      <div class="layout__menu-container">
        <%- include partials/menu.ejs %>
      </div>

      <div class="layout__glass"></div>

      <div class="layout__sub-menu-container">

        <% if(route == 'organizer') { %>

          <%- include partials/sub-menu/organizer.ejs %>

        <% } else if(route == 'mail') { %>

          <%- include partials/sub-menu/mail.ejs %>

        <% } else if(route == 'team') { %>

          <%- include partials/sub-menu/team.ejs %>

        <% } else if(route == 'chat') { %>

          <%- include partials/sub-menu/chat.ejs %>

        <% } %>

      </div>

      <div class="layout__content-container layout__content-container--<%= route %>">

        <% if(route == 'organizer') { %>

          <%- include partials/content/organizer.ejs %>

        <% } else if(route == 'mail') { %>

          <%- include partials/content/mail.ejs %>

        <% } else if(route == 'team') { %>

          <%- include partials/content/team.ejs %>

        <% } else if (route == 'chat') { %>

          <%- include partials/content/chat.ejs %>

        <% } %>
        
      </div>

    </main>

    <div class="layout__circle layout__circle--large"></div>
    <div class="layout__circle layout__circle--small"></div>
    
  </div>

  <% if(route === 'organizer') {
  
    let __items__ = JSON.stringify(items)
  
  %>

  <script>let __items__ = '<%- __items__ %>'</script>

  <% } %>

</body>
</html>