<div class="chat-room" data-id="<%= id %>" data-index="<%= group ? 'group' : 'priv' %>">

  <div class="chat-room__head-bar">

    <div class="chat-room__angle">

      <div class="chat-room__angle-tap-area"></div>

      <svg class="chat-room__angle-icon">
        <use href="#angle-down-solid"></use>
      </svg>

    </div>

    <% if(group) { %>

    <div class="chat-room__head-bar__interlocutors-outer">
      <div class="chat-room__head-bar__interlocutors">

        <% interlocutors.forEach(interlocutor => { %>

          <div class="chat-room__head-bar__avatar-container" data-name="<%= interlocutor.name %>">

            <% if(interlocutor.avatar) { %>

              <img src="<%= interlocutor.avatar %>" alt="A photo of <%= interlocutor.name %>" class="chat-room__head-bar__avatar">

            <% } else { %>

              <h4 class="chat-room__head-bar__initials"><%= interlocutor.initials %></h4>

            <% } %>

            <%- interlocutor.id == 4 ? '<span class="chat-room__head-bar__msg-dot"></span>' : '' %>

          </div>

        <% }) %>

        <div class="chat-room__head-bar__new-container">
          <div class="chat-room__head-bar__new-bar"></div>
          <div class="chat-room__head-bar__new-bar"></div>
        </div>

      </div>
    </div>

    <% } else { %>

    <div class="chat-room__head-bar__interlocutor">

      <div class="chat-room__head-bar__avatar-container">

        <% if(interlocutors[0].avatar) { %>

          <img src="<%= interlocutors[0].avatar %>" alt="A photo of <%= interlocutors[0].name %>" class="chat-room__head-bar__avatar">

        <% } else { %>

          <h4 class="chat-room__head-bar__initials"><%= interlocutors[0].initials %></h4>

        <% } %>

        <%- interlocutors[0].id == 3 ? '<span class="chat-room__head-bar__msg-dot"></span>' : '' %>

      </div>

      <h4 class="chat-room__head-bar__name"><%= interlocutors[0].name %></h4>

    </div>

    <% } %>

    <div class="chat-room__close">

      <div class="chat-room__close-tap-area"></div>

      <svg class="chat-room__close-icon">
        <use href="#circle-xmark-regular"></use>
      </svg>

    </div>

  </div>

  <div class="chat-room__main chat-forum">

    <div class="chat-forum__messages">

      <% let entries = [] %>

      <% if(group) {

        switch(id) {

          case '0':

          entries =
          [
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['In a professional context it often happens']
            },
            {
              user: interlocutors[0],
              side: 'left',
              texts: ['The are likely to focus on the text']
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['use texts']
            },
            {
              user: interlocutors[1],
              side: 'left',
              texts: ['human perception is tuned to recognize certain patterns and repetitions']
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['Most of its text is made up', "Think of a news blog that's filled with content hourly on the day of going live."]
            },
            {
              user: interlocutors[0],
              side: 'left',
              texts: ["Let's hope so ;)"]
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['Of course!']
            }
          ]

            break

          case '1':

            entries =
            [
              {
                user: interlocutors[0],
                side: 'left',
                texts: ['In a professional context it often happens']
              },
              {
                user: {
                  avatar: 'assets/images/john-schaffer.png',
                  name: 'John Schaffer'
                },
                side: 'right',
                texts: ['how come?']
              },
              {
                user: interlocutors[1],
                side: 'left',
                texts: ['use texts', 'It is said that song composers of the past']
              },
              {
                user: {
                  avatar: 'assets/images/john-schaffer.png',
                  name: 'John Schaffer'
                },
                side: 'right',
                texts: ['human perception is tuned to recognize certain patterns and repetitions']
              },
              {
                user: interlocutors[0],
                side: 'left',
                texts: ['Most of its text is made up']
              },
              {
                user: interlocutors[2],
                side: 'left',
                texts: ["Think of a news blog that's filled with content hourly on the day of going live."]
              }
            ]

            break
        }

      } else {

        switch(id) {

          case '0':

          entries =
          [
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['In a professional context it often happens']
            },
            {
              user: interlocutors[0],
              side: 'left',
              texts: ['human perception is tuned to recognize certain patterns and repetitions', 'The are likely to focus on the text']
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['Most of its text is made up']
            },
            {
              user: interlocutors[0],
              side: 'left',
              texts: ['Of course!']
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ["Think of a news blog that's filled with content hourly on the day of going live.", "It's a convenient tool for mock-ups.", "Let's hope so "]
            },
            {
              user: interlocutors[0],
              side: 'left',
              texts: ['The are likely to focus on the text']
            }
          ]

            break

          case '1':

          entries =
          [
            {
              user: interlocutors[0],
              side: 'left',
              texts: ['human perception is tuned to recognize certain patterns and repetitions']
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['Most of its text is made up', 'The are likely to focus on the text']
            },
            {
              user: interlocutors[0],
              side: 'left',
              texts: ["Think of a news blog that's filled with content hourly on the day of going live.", "It's a convenient tool for mock-ups.", 'Of course!']
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ["Let's hope so "]
            },
            {
              user: interlocutors[0],
              side: 'left',
              texts: ['it actually has no meaning whatsoever']
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['In a professional context it often happens']
            }
          ]

            break

          case '2':

          entries =
          [
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['In a professional context it often happens']
            },
            {
              user: interlocutors[0],
              side: 'left',
              texts: ['The are likely to focus on the text', 'human perception is tuned to recognize certain patterns and repetitions']
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['Most of its text is made up']
            },
            {
              user: interlocutors[0],
              side: 'left',
              texts: ["It's a convenient tool for mock-ups."]
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ["Let's hope so", "Think of a news blog that's filled with content hourly on the day of going live."]
            },
            {
              user: interlocutors[0],
              side: 'left',
              texts: ['it actually has no meaning whatsoever']
            },
            {
              user: {
                avatar: 'assets/images/john-schaffer.png',
                name: 'John Schaffer'
              },
              side: 'right',
              texts: ['Of course!']
            }
          ]

            break
        }
      } %>

      <%
      
        entries.forEach(entry => {

          let {user, side, texts} = entry

          %><%- include ./_chat-message.ejs %><%
        })

      %>

    </div>
  
    <div class="chat-forum__input-bar">
      <textarea rows="1" name="textMsg" placeholder="Type a message..." class="chat-forum__text-area" onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>  
    </div>

  </div>

</div>