<div class="mail-card <%= mail.wasRead ? 'mail-card--read' : ''%>">
  <div class="mail-card__wrapper">

    <div class="mail-card__avatar-container">

      <% if(mail.incoming) {

        if(mail.sender.avatar == '') { %>

          <h4 class="mail-card__initials"><%= mail.sender.initials %></h4>

        <% } else { %>

          <img src="<%= mail.sender.avatar %>" alt="A photo of <%= mail.sender.name %>" class="mail-card__avatar">

        <% }
      } else {

        if(mail.recipients.length == 0) { %>

          <h4 class="mail-card__initials">O</h4>

        <% } else if(mail.recipients[0].avatar == '') { %>

          <h4 class="mail-card__initials"><%= mail.recipients[0].initials %></h4>

        <% } else { %>

          <img src="<%= mail.recipients[0].avatar %>" alt="A photo of <%= mail.recipients[0].name %>" class="mail-card__avatar">

        <% }
      } %>

    </div>

    <div class="mail-card__user-cointainer">
      <h4 class="mail-card__user"><%= mail.from %></h4>
    </div>

    <div class="mail-card__subject-container">
      <h5 class="mail-card__subject"><%= mail.subject == '' ? '(No subject)' : mail.subject %></h5>
    </div>

    <% if(topRightTime) { %>

      <span class="mail-card__top-right mail-card__top-right--time"><%= topRightTime %></span>

    <% }%>

    <p class="mail-card__body"><%= mail.body %></p>

  </div>
</div>