<div class="mail-card <%= mail.wasRead ? 'mail-card--read' : ''%>">
  <div class="mail-card__wrapper">

    <div class="mail-card__avatar-container">

      <% if(mail.incoming) {

        if(mail.sender.avatar == '') { %>

          <h4 class="mail-card__initials"><%= mail.sender.initials %></h4>

        <% } else { %>

          <img src="<%= mail.sender.avatar %>" alt="A photo of <%= mail.sender.name %>" class="mail-card__avatar">

        <% }
      } else {

        if(mail.recipients.length == 0) { %>

          <svg class="mail-card__user-icon">
            <use href="#user-solid"></use>
          </svg>

        <% } else if(mail.recipients[0].avatar == '') { %>

          <h4 class="mail-card__initials"><%= mail.recipients[0].initials %></h4>

        <% } else { %>

          <img src="<%= mail.recipients[0].avatar %>" alt="A photo of <%= mail.recipients[0].name %>" class="mail-card__avatar">

        <% }
      } %>

    </div>

    <% if(mail.incoming) { %>

      <div class="mail-card__user-cointainer">
        <h4 class="mail-card__user"><%= mail.from %></h4>
      </div>

    <% } else {

      if(mail.recipients.length == 0) { %>

        <div class="mail-card__user-cointainer">
          <h4 class="mail-card__user">(No recipients)</h4>
        </div>

      <% } else { %>

        <div class="mail-card__user-cointainer">
          <h4 class="mail-card__user"><%= mail.recipients.map(user => user.name).join(', ') %></h4>
        </div>

      <%  }
    } %>

    <div class="mail-card__subject-container">
      <h5 class="mail-card__subject"><%= mail.subject == '' ? '(No subject)' : mail.subject %></h5>
    </div>

    <% if(mail.topRightTime) { %>

      <span class="mail-card__top-right mail-card__top-right--time"><%= mail.topRightTime %></span>

    <% } else { %>

      <svg class="mail-card__top-right mail-card__top-right--trash">
        <use href="#trash-can-regular"></use>
      </svg>

    <% } %>

    <p class="mail-card__body"><%= mail.body %></p>

  </div>
</div>