<div class="mail-read">
  <div class="mail-read__wrapper">

    <div class="mail-read__mail-container">

      <div class="mail-read__avatar-container">

        <% if(box == 'inbox') {

          if(mail.sender.avatar == '') { %>

            <h4 class="mail-read__initials"><%= mail.sender.initials %></h4>

          <% } else { %>

            <img src="<%= mail.sender.avatar %>" alt="A photo of <%= mail.sender.name %>" class="mail-read__avatar">

          <% }

        } else {

          if(mail.recipients.length == 0) { %>

            <svg class="mail-read__user-icon">
              <use href="#user-solid"></use>
            </svg>

          <% } else if(mail.recipients[0].avatar == '') { %>

            <h4 class="mail-read__initials"><%= mail.recipients[0].initials %></h4>

          <% } else { %>

            <img src="<%= mail.recipients[0].avatar %>" alt="A photo of <%= mail.recipients[0].name %>" class="mail-read__avatar">

          <% }
        } %>

      </div>

      <h3 class="mail-read__from-user-name">
        
        <%= box == 'inbox' ? mail.from : 'Me' %>

      </h3>

      <div class="mail-read__recipients-container">

        <span class="mail-read__to-tag">To:</span>

        <p class="mail-read__recipients-list">

          <% if(box == 'inbox') { %>

            <span>Me, </span>

          <% } %>

          <%= mail.to.join(', ') %>

        </p>

      </div>

      <h5 class="mail-read__time"><%= mail.topRightTime %></h5>

      <h4 class="mail-read__subject"><%= mail.subject == '' ? '(No subject)' : mail.subject %></h4>

      <p class="mail-read__body"><%= mail.body %></p>

      <div class="mail-read__buttons-container">

        <div class="mail-read__button btn--reply">
          <span>Reply</span>
          <svg>
            <use href="#reply-solid"></use>
          </svg>
        </div>
        <div class="mail-read__button btn--reply-all">
          <span>Reply all</span>
          <svg>
            <use href="#reply-all-solid"></use>
          </svg>
        </div>
        <div class="mail-read__button btn--close">
          <span>Close</span>
          <svg>
            <use href="#circle-xmark-regular"></use>
          </svg>
        </div>
        <div class="mail-read__button btn--forward">
          <span>Forward</span>
          <svg>
            <use href="#share-from-square-solid"></use>
          </svg>
        </div>
        <div class="mail-read__button btn--delete">
          <span>Delete</span>
          <svg>
            <use href="#trash-can-regular"></use>
          </svg>
        </div>

      </div>

    </div>

    <div class="mail-read__history-container">

    </div>

  </div>
</div>